/* Your Website Styles */
body {
  background: url("../img/grey_wash_wall.png");
}

.footer {
  text-align: center;
  color: black;
}

h1 {
  color: #8C201F; 
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0px;
}

img {
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
}


/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 1px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}