/* Your Website Styles */
a {
  text-decoration: none;
  list-style: none;
  color: #363636;
  text-align: right;
}

a:hover, {
  color: #000;
}

.banner {
  background-color: #C4634F;
  margin-top: -10px;
  margin-bottom: 30px;
}

body {
  font-family: 'Calibri';
  color: #363636;
  background-color: #132139;
  font-size: 16px;
  margin-left: 20px;
  background: url("../img/grey_wash_wall.png");
}

.footer {
  text-align: center;
  color: black;
}


.links_top {
  color: black;
  font-family: 'Cinzel Decorative', serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin-bottom: -5em;

}

.nav_top {
  color: #132139;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -15px;

}


/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}